	<div>
		<h1>Provided endpoint and API</h1>
		<h2>version {{version}}</h2>
		<ul>
		 	<li><a href="/feedback">/feedback</a></li>
		 	<li><a href="/ads">/ads</a></li>
		 	<li><a href="/calculator/cities">/calculator/cities</a></li>
		 	<li><a href="/api/v1/calculator/time/la/ny?day=2019-12-30">/api/v1/calculator/time/la/ny?day=2019-12-30</a></li>
		</ul>
		<footer>
			(c) {{team}} {{year}}
		</footer>
	</div>

